@import "reset";
@import "color";
@import "type";

@import url(http://fonts.googleapis.com/css?family=Laila);

*,*:before, *:after {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  margin: 0 auto;
  
}

.img {
  float: left;
  margin-left:25%;
}
